<div class="row">
  <div class="col-md-12">
    <%= form_for @item, builder: ApplicationHelper::BootstrapFormBuilder do |f| %>
      <%= f.form_group :category do |g| %>
        <%= f.label :category, class: "control-label" %>
        <%= f.select :category, [['Book','book'],['Music','music'],['Movie','movie']], {}, class: "form-control" %>
        <%= f.help_block :category %>
      <% end %>
      <%= f.form_group :name do |g| %>
        <%= f.label :name, class: "control-label"  %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.help_block :name %>
      <% end %>
      <%= f.form_group :description do |g| %>
        <%= f.label :description, class: "control-label"  %>
        <%= f.text_area :description, class: "form-control" %>
        <%= f.help_block :description %>
      <% end %>
      <%= f.form_group :stakeholder do |g| %>
        <%= f.label :stakeholder, "Author(s), Composer(s), Artist(s), Director(s), Actor(s)...", class: "control-label"  %>
        <%= f.text_field :stakeholder, value: !@item.stakeholders.empty? ? @item.stakeholders.map{|s| s.name}.join(",") : "", class: "form-control" %>
        <%= f.help_block :stakeholder %>
      <% end %>
      <%= f.form_group :image do |g| %>
        <%= f.label :image, class: "control-label"  %>
        <%= f.file_field :image, class: "form-control" %>
        <%= f.help_block :image %>
      <% end %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
