<%= render "search" %>

<div class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag(@item.image.nil? ? (@item.category == "book" ? "book_256_256.png" : (@item.category == "music" ? "music_256_256.png" : "movie_256_256.png")) : @item.image, title: @item.name, size: "128x128", class: "media-object") %>
    </a>
  </div>
  <div class="col-md-8">
    <p class="lead">
      <strong><%= @item.name %></strong><br>
      <% if @item.stakeholders != nil %>
        <em><small><%= @item.stakeholders.map{|s| s.name}.join(",") %></small></em>
      <% end %>
    </p>
    <p class="justify"><%= @item.description %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="pull-right">
      <% if logged_in? && @item.user.id == current_user.id %>
      <%= link_to "Edit", edit_item_path(@item), class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Back", back_url, class: "btn btn-default" %>
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Reviews</h3>
    <% if @item.reviews != nil && !@item.reviews.empty? %>
      <% @item.reviews.each do |review| %>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag(review.user.avatar.nil? ? "avatar_200_200.png" : review.user.avatar, title: review.user.username, size: "64x64", class: "media-object") %>
          </a>
        </div>
        <div class="media-body">
          <blockquote>
            <h4 class="media-heading">
              <%= review.title %>&nbsp;
              <% if review.star != nil && review.star > 0 %>
              <% review.star.times do |s| %>
              <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% (5 - review.star).times do |s| %>
              <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
              <% end %>
            </h4>
            <p><%= review.content %></p>
            <footer><cite><%= review.user.username %> on <%= review.created_at %></cite></footer>
          </blockquote>
          <% if review.comments != nil && !review.comments.empty? %>
            <% review.comments.each do |comment| %>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <%= image_tag(review.user.avatar.nil? ? "avatar_200_200.png" : review.user.avatar, title: review.user.username, size: "32x32", class: "media-object") %>
                </a>
              </div>
              <div class="media-body">
                <blockquote>
                <p><%= comment.content %></p>
                <footer><cite><%= comment.user.username %> on <%= comment.created_at %></cite></footer>
                </blockquote>
              </div>
            </div>
            <% end %>
          <% end %>
          <% if logged_in? %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <%= image_tag(current_user.avatar.nil? ? "avatar_200_200.png" : current_user.avatar, title: current_user.username, size: "32x32", class: "media-object") %>
              </a>
            </div>
            <div class="media-body">
              <%= form_tag("/comments", method: "post") do %>
                <div class="form-group">
                  <%= text_area_tag(:content, nil, class: "form-control", placeholder: "My comment...") %>
                </div>
                <%= hidden_field_tag(:review_id, review.id) %>
                <%= hidden_field_tag(:item_id, @item.id) %>
                <%= submit_tag("Comment", class: "btn btn-default") %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      No reviews.
    <% end %>
    <% if logged_in? %>
    <hr>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag(current_user.avatar.nil? ? "avatar_200_200.png" : current_user.avatar, title: current_user.username, size: "64x64", class: "media-object") %>
        </a>
      </div>
      <div class="media-body">
        <%= form_tag("/reviews", method: "post") do %>
        <h4 class="media-heading">
          <%= text_field_tag(:title, nil, class: "form-control", placeholder: "Title") %>
        </h4>
        <div class="form-group">
          <%= text_area_tag(:content, nil, class: "form-control", placeholder: "Your review...") %>
        </div>
        <div class="form-group">
          <%= number_field_tag(:star, nil, min: 1, max: 5, class: "form-control", placeholder: "Your rating") %>
        </div>
        <%= hidden_field_tag(:item_id, @item.id) %>
        <%= submit_tag("Review", class: "btn btn-default pull-right") %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
