<%= render "search" %>
<h1>My Items</h1>
<div class="row">
  <div class="col-md-12">
    <%= link_to "New Item", new_item_path, class: "btn btn-sm btn-primary pull-right" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate @items %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <%= render "listing" %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate @items %>
  </div>
</div>
