<h1>Account Settings</h1>

<%= render "/layouts/flash" %>

<%= form_for @user, url: account_settings_path, builder: ApplicationHelper::BootstrapFormBuilder, method: :patch do |f| %>
  <%= f.form_group :old_password do |g| %>
    <%= f.label :old_password, class: "control-label" %>
    <%= f.password_field :old_password, class: "form-control" %>
    <%= f.help_block :old_password %>
  <% end %>
  <%= f.form_group :email do |g| %>
    <%= f.label :email, class: "control-label"  %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.help_block :email %>
  <% end %>
  <%= f.form_group :password do |g| %>
    <%= f.label :password, "New Password", class: "control-label"  %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.help_block :password %>
  <% end %>
  <%= f.form_group :password_confirmation do |g| %>
    <%= f.label :password_confirmation, "Confirm New Password", class: "control-label"  %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= f.help_block :password_confirmation %>
  <% end %>
  <%= f.form_group :avatar do |g| %>
    <%= f.label :avatar, class: "control-label"  %>
    <%= f.file_field :avatar, class: "form-control" %>
    <%= f.help_block :avatar %>
  <% end %>
  <%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>
